<robot name="strawberry.urdf">
<link name ="base">
    <visual>
      <origin xyz='0 0 0' rpy='0 0 0'/>
      <geometry>
        <mesh filename="strawberry.dae"  scale="0.01 0.01 0.01" />
      </geometry>
    </visual>
    <inertial>
      <mass value="0.012"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="strawberry_vhacd.obj" scale="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
</robot>
