<robot name="hole.urdf">
<link name ="base">
    <visual>
      <origin xyz='0 0 0' rpy='0 0 0'/>
      <geometry>
        <mesh filename="hole2.obj"  scale="0.035 0.035 0.06" />
      </geometry>
      <material name="pink">
    	<color rgba="1.0 0.6 0.6 1."/>
      </material>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 	<mesh filename="hole2_vhacd.obj" scale="0.035 0.035 0.06"/>
      </geometry>
    </collision>
  </link>
</robot>
