<?xml version="1.0" ?>
<robot name="dropfork">

    <material name="color">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <link name="tool">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.003 0.05"/>
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.003 0.05"/>
            </geometry>
        </collision>
        <contact>
            <rolling_friction value="0.001"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.05"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <link name="tool_tip">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.005"/>
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.005 0.005 0.005"/>
            </geometry>
        </collision>
        <contact>
            <rolling_friction value="0.001"/>
            <spinning_friction value="0.001"/>
        </contact>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.01"/>
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>
    </link>

    <joint name="j_weld1" type="fixed">
        <parent link="tool"/>
        <child link="tool_tip"/>
        <origin xyz="0 0 -0.025"/>
    </joint>

</robot>
